.homeContent{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 60vh;
}

.locationCards{
    margin: 20px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 80%;
    grid-gap: 15px;
}

.locationLoad{
    margin: 20px auto;
    height: 100px;
    width: 100px;
    padding: 100px;
}

.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filterParam{
    display: grid;
    width: 100%;
    /* flex-direction: row; */
    grid-template-columns: 50% 50%;
    justify-items: flex-start;
    align-items: center;
}

@media(max-width: 400px){
    .locationCards{
        width: 90%;
    }
}